<section class="card">
    <div class="card-body">
        <h1>
            About
        </h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus atque asperiores laboriosam ex cum perferendis numquam odit soluta commodi sit.</p>
    </div>
</section>