<div class="jumbotron mt-4">
    <h1 class="display-4"> 
       Notes App Nodejs and Mongodb
    </h1>
    <p class="lead">
        parrafo de purueba
    </p>
    <hr class="my-4">
    <p>parrafo de prueba</p>
    <a href="https://www.github.com" class="btn btn-primary">hola</a>
</div>